body{
    background-color: #9cb4cc;
}
.publicidadDiv{
    position: relative;
    margin: 0px;
}

#imagenpublicidad{
    width: 100%;
    height: 10%;
    z-index: 1;
}

#botonpublicidad{
    position: absolute;
    z-index: 2;
    width: 11rem;
    height: 3rem;
    bottom: 1.5rem;
    right: 4rem;
}

@media (max-width : 1000px){
    #botonpublicidad{
        width: 7rem;
        height: 2rem;
        padding: 0px;
        bottom: 0.7rem;
        right: 2rem;
    }
}

@media (max-width : 580px){
    #botonpublicidad{
        font-size: 10px;
        width: 5rem;
        height: 1rem;
        padding: 0px;
        bottom: 0.5rem;
        right: 1rem;
    }
}

@media (max-width : 400px){
    #botonpublicidad{
        display:none;
    }

    #imagenpublicidad{
        display:none;
    }
}
