
#root {
  margin: 0 auto;
  text-align: center;
}   

  
   #contenedorPC{
    background-image:url(../../assets/Images/Cachorros.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;

  } 
.card{
  background-color: rgba(0, 0, 0, 0);
  
}
