#footer {
  background-color: rgb(251, 244, 234);
  display: flex;
  justify-content: center;
  font-size: large;
  margin-left: 0px;
  margin-right: 0px;
}

li {
  list-style: none;
  margin: 9px;
}

a {
  text-decoration: none;
  color: rgb(77, 129, 131);
}

a:hover {
  color: rgb(173, 199, 201);
  border-bottom: 1px rgb(173, 199, 201) solid;
  transition-duration: 200ms;
}

#imagenlogodefooter {
  border-radius: 20%;
  width: 20rem;
}

.copyrightFooter {
  font-size: medium;
  display: flex;
  justify-content: center;
  color: rgb(118, 118, 118);
}

.iconoA:hover {
  border: 0px;
}

.iconosFooter {
  font-size: x-large;
  display: flex;
  padding-left: 100px;
  margin-bottom: 0px;
}

.iconosFooter a {
  padding: 3px;
}

.iconosFooter a:hover {
  text-decoration: none;
  border: 0px;
}

.copyrightFooterText {
  color: rgb(141, 138, 138);
}

@media (max-width: 950px) {
  #imagenlogodefooter {
    width: 17rem;
  }
}
