.text-color{
  color:#9CB4CC ;
  
}
.bg-color{
  background-color: #D3CEDF;
  
}
.btn-colorize{
  background-color: #F2D7D9;
}
.btn-editar{
  background-color:#9CB4CC;
}
.turnos-heigth{
  min-height: 550px;
}